---
import { getLegalEntry } from "@utils/getLegalEntry";

interface Props {
  currentLang?: string;
}

const { currentLang = "en" } = Astro.props as Props;
const entry = await getLegalEntry("cookies-policy", currentLang);
const { Content } = await entry.render();
---

<section class="mx-auto max-w-screen-lg px-4 pt-24 pb-4 md:pt-32 md:pb-16">
  <article class="prose">
    <Content />
  </article>
</section>
